@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uf1b9z');
  src:  url('../fonts/icomoon.eot?uf1b9z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uf1b9z') format('truetype'),
    url('../fonts/icomoon.woff?uf1b9z') format('woff'),
    url('../fonts/icomoon.svg?uf1b9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-mail3:before {
  content: "\ea85";
}


body {
  margin: 0px;
  font-family: "Verdana";
}

.contenedor {
  max-width: 850px;
  margin:0 auto;
}

.menu li:before {
  right: 10px;
  color: white;
  font-size: 30px;
  content: "\2218";
  position: relative;
}

.menu a {
  color:white;
  text-decoration: none;
}

.button {
  color:white;
  border:none;
  cursor: pointer;
  font-size: 18px;
  padding:7px 12px;
  border-radius:12px;
  background-color:#fd324e;
  background: linear-gradient(to left, #fd324e, #ff7250);
}

/* Estilos */
.titulo {
  font-size: 70px;
  margin-top:70px;
  margin-bottom: 0px;
}
.titulo span {
  text-decoration: underline;
}
.titulo-a {
  font-size:24px;
  margin-top:0px;
}
.titulo-b {
  font-size:50px;
  margin-bottom: 20px;
}

.guitarras h2 {
  font-size:35px;
}

.guitarras {
  color: #1F313C;
  margin-bottom: 60px;
}

.guitarra ol {
  padding: 0px;
}

.guitarra {
  margin: 10px;
  position:relative;
  border-radius:8px;
  border:1px solid black;
  padding: 10px 10px 30px 10px;
}
.guitarras .titulo-a{
  margin-top: 20px;
}
.portada {
  color:white;
  padding:20px;
  height: 500px;
  background-size: cover;
  background-image: url("../images/background.png")
}

.portada button {
  margin-bottom:70px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position:absolute;
  right:0px;
}

.menu li {
  display: inline-block;
  margin-left:30px;
}

.logotipo {
  margin-left:0px;
  display: inline-block;
}

.derecha {
  float: right;
  position:relative;
  top:-137px;
}

.izquierda {
  float: left;
  position:relative;
}

.contenedor-guitarra-b{
  bottom: 90px;
  margin-left:370px;
  position: relative;
}

.contenedor-guitarra-a{
  padding-left: 20px;
  margin-right:370px;
}

.header {
  position:relative;
}

.footer{  
  padding: 50px 10px;
  background-color:#273b47;
}

.footer .contacto img {
  display: block;
}

.footer .contacto strong {
  display: block;
}

.contacto a {
  color:white;
  margin:10px 10px 10px 0;
  text-decoration:none;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap:wrap;
  align-items: center;
}

.formulario {
  width: auto;
  color: white;
  display: flex;
}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.intereses label{
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom:10px;
}

.col1 {
  margin-right: 15px;
}

.sexo {
  margin-top:10px;
}

.col2{
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.guitarra.b, .guitarra.a  {
  height: auto;
}

input, textarea {
  outline: 0;
  border: 0px;
  padding: 10px;
}

input:focus, textarea:focus {
  background: lightgray;
}

.video-responsive-contenedor {
  position: relative;
  padding-top: 56.25%;
}

.video-responsive-src {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-demo {
  width: 100%;
  max-width: 500px;
  border:10px solid #3c5b6e;
}

.video-demo-contenedor{
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}